include ../modules/head

		link(rel="stylesheet"  href="/css/profile.css")
	body.profile.view(ng-app)
		-
			var profile = company;
			var type = company.type;
		block main_menu
			include ../modules/menu.jade
		block content
			.content_container
				section.banner(style="background-image:url(/#{profile.cover_pic});")
					h1.base_white.slogan #{profile.username}
					h3.description #{profile.tagline}
					.profile_photo.round_container
						img(src='/#{profile.pic}')
				section.comp_info
					.container
						.detail.pull_left.clearfix.col-md-4
							.location.base_white
								span.lnr-map-marker.lnr #{profile.location.country+','+profile.location.city}
							.details
								ul
									li 
										span.lnr.lnr-users
										span.detail_content=profile.size
									li 
										span.lnr.lnr-apartment
										span.detail_content=profile.establish_year
									li 
										span.lnr.lnr-tag
										span.detail_content #{profile.industry}
						.social_icons.pull_right.col-md-4
							ul
								li.round_container
									i.fa.fa-facebook-f
								li.round_container
									i.fa.fa-twitter
								li.round_container
									i.fa.fa-linkedin
								li.round_container
									i.fa.fa-globe
						hr
						.culture.pull_left.col-md-6
							span.title Company Culture
								ul
									for culture in profile.culture
										li.tag.base_white_bg.grayscale_cl=culture
										//- li.tag.base_white_bg.grayscale_cl Beer
										//- li.tag.base_white_bg.grayscale_cl Banana
										//- li.tag.base_white_bg.grayscale_cl Kumamon
										//- li.tag.base_white_bg.grayscale_cl Ichiro
						.tec.pull_right.col-md-6
							span.title Company Technology
								ul
									for technology in profile.technology
										li.tag.base_white=technology
				section.company_instro.base_white_bg
					.container
						h2 Who We Are
						- for (i=0; i<profile.who_u_r.length ; i++)
								if (profile.who_u_r[i].type=='Text')
									.text.we_are
										p=profile.who_u_r[i].content
								else if (profile.who_u_r[i].type=='Quote')
									.quotation.we_are
										p.quote=profile.who_u_r[i].content
								else if (profile.who_u_r[i].type=='List')
									.list.we_are
										ul.bullet_list
											- for (j=0; j<profile.who_u_r[i].content.length; j++)
													li.item
														span.lnr.lnr-location
														span= profile.who_u_r[i].content[j]
									
						
						h2 What We Do
						- for (i=0; i<profile.what_u_do.length ; i++)
								if (profile.what_u_do[i].type=='Text')
									.text.we_do
										p=profile.what_u_do[i].content
								else if (profile.what_u_do[i].type=='Quote')
									.quotation.we_do
										p.quote=profile.what_u_do[i].content
								else if (profile.what_u_do[i].type=='List')
									.list.we_do
										ul.bullet_list
											- for (j=0; j<profile.what_u_do[i].content.length; j++)
													li.item
														span.lnr.lnr-location
														span= profile.what_u_do[i].content[j]
				section.bottom_banner(style="background-image:url(/#{profile.footer_pic});")










