p=companies
each company in companies
	ul
		li
			a(href='../companies/'+company.username) #{company.username}
		li=company._id
		li=company.location
		li=company.description
		li=company.culture
		li=company.time
		