include ../modules/head
		link(rel="stylesheet"  href="/css/profile.css")
	body.profile.view
		-
			var profile = company;
			var type = company.type;
		block main_menu
			include ../modules/menu.jade
		block content
			.content_container
				section.banner
					h1.base_white.slogan #{profile.username}
					h3.description We offer our clients flexible tailored solutions
					.profile_photo.round_container
						img(src='/#{profile.pic}')
				section.comp_info
					.container
						.detail.pull_left.clearfix
							.location.base_white
								span.lnr-map-marker.lnr=profile.location
							.details
								ul
									li 
										span.lnr.lnr-users
										span.detail_content=profile.size
									li 
										span.lnr.lnr-apartment
										span.detail_content=profile.establish_year
									li 
										span.lnr.lnr-tag
										span.detail_content #{profile.industry}
						.social_icons.pull_right
							ul
								li.round_container
									i.fa.fa-facebook-f
								li.round_container
									i.fa.fa-twitter
								li.round_container
									i.fa.fa-linkedin
								li.round_container
									i.fa.fa-globe
						hr
						.culture.pull_left
							span.title Company Culture
								ul
									for culture in profile.culture
										li.tag.base_white_bg.grayscale_cl=culture
										//- li.tag.base_white_bg.grayscale_cl Beer
										//- li.tag.base_white_bg.grayscale_cl Banana
										//- li.tag.base_white_bg.grayscale_cl Kumamon
										//- li.tag.base_white_bg.grayscale_cl Ichiro
						.tec.pull_right
							span.title Company Technology
								ul
									for technology in profile.technology
										li.tag.base_white=technology
				section.company_instro.base_white_bg
					.container
						.text.we_are
							h2 Who We Are
							p=profile.description
						.text.we_do
							h2 What We Do
							p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur nisi, tempore recusandae explicabo, a iure laboriosam mollitia quos, perferendis tempora rerum voluptate doloribus nihil. Quos quam cum totam molestias assumenda.
						.list
							ul.bullet_list
								li.item 
									span.lnr.lnr-location
									span Coffee Machine
								li.item 
									span.lnr.lnr-location
									span Filtered Water
								li.item 
									span.lnr.lnr-location
									span Boiling System
						.quotation
							p.quote  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus repudiandae molestiae, laboriosam minima reiciendis sunt quam officia dolor quae! Similique vero suscipit maxime, accusamus delectus odio accusantium. Excepturi, vitae inventore.
				section.bottom_banner










