include ../modules/head
		link(rel="stylesheet"  href="/css/profile.css")
	body.profile.edit
		-
			var profile = user.custom._profile;
			var type = user.custom._profile.type;
		script(type='text/javascript',src='../../js/company_profile_edit.js').
		
		block main_menu
			include ../modules/menu.jade
		block sideBar
			.side_bar.base_white_bg.grayscale_dark_cl
				ul.menu
					li.menu_item.lnr.lnr-smile.focus Company Branding
						
					li.menu_item.lnr.lnr-license Details/Description
						
					li.menu_item.lnr.lnr-earth Social Networks
						
		block content
			.content_container
				.container
					h2 Edit Profile
					form(id='company_branding',action='',enctype='multipart/form-data')
						section.profile_setting.edit_section
							.title
								h3 Profile Setting
								a(href='#')
									span.reminder i
							.input_container
								.input_text_container
									label Company Name
									input#profile_name(type='text',value='#{profile.username}',name='profile_name').input
								.input_text_container
									label Company Tagline
									input#profile_tagline(type='text',name='profile_tagline').input
						section.displayed_img.edit_section
							.title
								h3 Displayed Images
							.input_container
								.img_container
									.round_container
										img#photo(src='../../img/profile_img/profile_edit_img.jpg')
									.btn_container
										.test
											input#upload_photo(type='file',name='img')
										span Upload Your Profile Picture
										a.btn.btn_pri.upload_photo_btn UPLOAD&nbspIMAGE
										span.sec_cl Image Formats: JPEG,GIF,PNG
								.cover_photo_container
									//- img(alt='cover photo')
								a.btn.btn_pri.cancel(href='/dashboard') cancel
								a.btn.btn_pri.save#update_btn.disable(data-router='/companies/'+user.email+'/edit',href='javascript:void(0)') save&nbspchanges
					

					//- form(id='details_description',action='')
					//- 	section.company_info.edit_section
					//- 		.title
									h3 Company Information
					//- 		.input_container
					//- 			.input_text_container
					//- 				label Industry
					//- 				input(type='text',value='#{profile.industry}').input
					//- 			.input_text_container
					//- 				label Location
					//- 				input(type='text',value='#{profile.location}').input
					//- 				input(type='text',value='#{profile.location}').input
					//- 			.input_text_container
					//- 				label Company Size
					//- 				input(type='text',value='#{profile.size}').input
					//- 			.input_text_container
					//- 				label Year of Establishment
					//- 				input(type='text',value='#{profile.establish_year}').inputestablish_year
					//- 	section.company_instro.edit_section
					//- 		.title
									h3 Introduce Your Company
					//- 		.input_container
					//- 			.input_text_container
					//- 				label Who you are
					//- 				input(type='textarea',value='#{profile.description}').input
					//- 			.input_text_container
					//- 				label What you do
					//- 				input(type='textarea',value='#{profile.description}').input
					//- a.btn cancel
					//- a.btn save&nbspchanges
	
					//- form(id='social_network')
					//- 	section.social_network.edit_section
					//- 		.title
									h3 Social Networks
					//- a.btn cancel
					//- a.btn save&nbspchanges



		