p=talents
each talent in talents
	ul
		li=talent._id
		li
			a(href='../talents/'+talent.username) #{talent.username}
		li=talent.religion
			-
				console.log(typeof talent.time);
		li=talent.time
		