extends ../templates/layout.jade
block css 
	link(rel="stylesheet"  href="/css/profile.css")
prepend body
	-
		var profile = company;
		var type = company.type;

block body_class
	body.profile.view
block menu
		include ../modules/menu.jade
block content
	section.profile_banner_section 
		.container
				img.profile__cover__photo.image_insert.round_container--rg(src='#{profile.cover_pic}')
				h1.profile__name.base_white #{company.username}
				h2.profile__tagline #{profile.tagline}
	section.company_info_section
		.container
			.company_info_section-top.row_space--sm.clearfix
				.row
					.location.base_white
						i.lnr-map-marker.lnr 
						span #{profile.location.country+','+profile.location.city}
					.company__icon__set.col-md-4.clearfix
						ul.company__icon__list
							li.company__icon__single.icon_set.icon_set--rg 
								i.lnr.lnr-users
								span.company__icon__info #{profile.size}
							li.company__icon__single.icon_set.icon_set--rg  
								i.lnr.lnr-apartment
								span.company__icon__info #{profile.establish_year}
							li.company__icon__single.icon_set.icon_set--rg  
								i.lnr.lnr-tag
								span.company__icon__info #{profile.industry}
					.profile__photo.round_container.round_container--rg
						img(src='#{profile.pic}')
					.social_icons.pull_right.col-md-4
						ul.clearfix
							li.icon_fb.round_container
								a
									i.fa.fa-facebook-f
							li.icon_tw.round_container
								a
									i.fa.fa-twitter
							li.icon_ld.round_container
								a
									i.fa.fa-linkedin
							li.icon_site.round_container
								a
									i.fa.fa-globe
				
			.company_info_section-bottom.row_space--sm.clearfix
				.row
					.company_culture.col-md-6.clearfix
						h4 Company Culture
							ul.tag_list
								for culture in profile.culture
									li.tag.tag--white=culture
									//- li.tag.base_white_bg.grayscale_cl Beer
									//- li.tag.base_white_bg.grayscale_cl Banana
									//- li.tag.base_white_bg.grayscale_cl Kumamon
									//- li.tag.base_white_bg.grayscale_cl Ichiro
					.company_tec.col-md-6
						h4 Company Technology
							ul.tag_list
								for technology in profile.technology
									li.tag.tag--gray5=technology
	section.profile_main_section.row_space--lg
		.container
			.row
				.col-md-8.col-centered
					.who_we_are
						h3.row_space-bottom--md Who We Are
						each item in profile.who_u_r
							if item.type=='Text'
									.profile__content.profile__text
										p=item.content
							else if item.type=='Quote'
									.profile__content.profile__quotation.quotation.row_space--xs
										p.quote=item.content
							else if item.type=='List'
									.profile__content.profile__list.row_space--xs
										ul.list
											each sub_item in item.content
													li.list__item
														span.lnr.lnr-location
														span= sub_item
					.what_we_do
						h3.row_space-bottom--md What We Do
						each item in profile.what_u_do
							if item.type=='Text'
									.profile__content.profile__text
										p=item.content
							else if item.type=='Quote'
									.profile__content.profile__quotation.quotation.row_space--xs
										p.quote=item.content
							else if item.type=='List'
									.profile__content.profile__list.row_space--xs
										ul.list
											each sub_item in item.content
													li.list__item
														span.lnr.lnr-location
														span= sub_item
	section.profile_bottom_banner_section
		img.profile__bottom__photo.image_insert(src='#{profile.footer_pic}')











